<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dotincorp.touchingdot">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uess-permission android:name="android.permission.BIND_VPN_SERVICE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:name=".BleApplication"
        android:allowBackup="true"
        android:icon="@drawable/hellen_keller"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:exported="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="홈 화면"/>
        <activity android:name=".AlphabetSongActivity"
            android:label= "알파벳 송"/>
        <activity android:name= ".AlphabetSwitchingActivity"
            android:label="알파벳 배우기"/>
        <activity android:name=".AlphabetTestMultipleActivity"
            android:label="테스트"/>
        <activity android:name=".BrailleInsertActivity"
            android:label="점자를 입력하세요"/>
        <activity android:name=".GetConnectionActivity"
            android:label="닷 워치 기기를 선택하세요"/>
        <activity android:name=".DeviceScanActivity"
            android:label="디바이스 스캔을 시작합니다"/>
        <activity android:name=".BrailleEducationActivity"
            android:label="점자 배우기" />
        <activity android:name=".BrailleUserActionActivity"
            android:label="원하는 점형을 입력하고, 워치에 보내보세요"/>
        <activity android:name=".SpecialLetterSwitchingActivity"/>
        <activity android:name=".BrailleSearchActivity"
            android:label="원하는 점자의 점형을 찾아보세요."/>
        <activity android:name=".DwTutorialActivity"
            android:label="tutorial section"/>

        <service
            android:name="com.dotincorp.watchservice.BluetoothLeService"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name=".ConnectionReceiver">
            <intent-filter>
                <action android:name="BluetoothLeService.ACTION_GATT_CONNECTED"/>
                <action android:name="BluetoothLeService.ACTION_GATT_SERVICES_DISCOVERED"/>
                <action android:name="BluetoothLeService.ACTION_GATT_OBSERVER_SETTED"/>
                <action android:name="BluetoothLeService.ACTION_GATT_DISCONNECTED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>