<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dotincorp.touchingdot">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uess-permission android:name="android.permission.BIND_VPN_SERVICE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".BleApplication"
        android:allowBackup="true"
        android:icon="@drawable/hellen_keller"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:exported="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".AlphabetSongActivity"
            android:label= "alphabet song"/>
        <activity android:name= ".AlphabetSwitchingActivity"
            android:label="alphabet learning"/>
        <activity android:name=".AlphabetReviewActivity"
            android:label="alphabet review"/>
        <activity android:name=".AlphabetTestMultipleActivity"
            android:label="alphabet test"/>
        <activity android:name=".MultipleTestResultActivity"
            android:label="test result"/>
        <activity android:name=".BrailleInsertActivity"
            android:label="Insert the braille"/>
        <activity android:name=".MainActivity"
            android:label="paring with dot watch"/>
        <activity android:name=".DeviceScanActivity"/>
        <activity android:name=".BrailleEducationActivity"
            android:label="Braille Learning" />
        <activity android:name=".BrailleUserActionActivity"
            android:label="Input a dot shape what you want"/>
        <activity android:name=".SpecialLetterSwitchingActivity"/>

        <service
            android:name="com.dotincorp.watchservice.BluetoothLeService"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name=".ConnectionReceiver">
            <intent-filter>
                <action android:name="BluetoothLeService.ACTION_GATT_CONNECTED"/>
                <action android:name="BluetoothLeService.ACTION_GATT_SERVICES_DISCOVERED"/>
                <action android:name="BluetoothLeService.ACTION_GATT_OBSERVER_SETTED"/>
                <action android:name="BluetoothLeService.ACTION_GATT_DISCONNECTED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>